.volume{
    .volumeSlider{
        .ant-slider-rail{
            height: 14px;
        }
        .ant-slider-track{
            height: 14px;
        }
        .ant-slider-handle:focus::after{
            width: 20px;
            height: 20px;
        }
        .ant-slider-handle::after{
            width: 20px;
            height: 20px;
        }
    }
}