.screen{
    background: #939393;
    overflow: hidden;
    display: flex;  
    justify-content: center; /* 水平居中 */  
    align-items: center; /* 垂直居中 */  
    width: 100vw;
    height: 100vh; /* 假设你想要视频填充整个视口高度 */

    #myVideo{
        width: auto;
        height: 100%;
        cursor: pointer;
    }
}
