.ReturnImgIcon {
    cursor: pointer;
    // border-radius: 20px;
}

.EmptyBody {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
}

.fileImgBody {
    width: 100%;
    min-height: 400px;
    margin-top: 10px;

    .UnknownIconText {
        position: absolute;
        top: 38%;
        left: 12px;
        color: #fff;
        font-weight: 600;
        width: 59%;
        height: 20px;
        /* 隐藏超出容器的文本 */
        overflow: hidden;
        /* 防止文本换行，确保文本在一行内显示 */
        white-space: nowrap;
        text-align: center;
    }

    .nullFlie {
        position: absolute;
        top: 35%;
        left: 40%;
        font-size: 80px;
        color: #c4c4c4;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard syntax */
    }

    .body {
        width: 100%;
        height: 400px;
        margin-top: 5px;
        overflow-y: auto;
        /* 允许滚动，但不显示滚动条 */
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 和 Edge */
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        /* 隐藏 WebKit 浏览器的滚动条 */
        &::-webkit-scrollbar {
            display: none;
        }

        .fileImage {
            width: 80px;
            height: 105px;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            .fileImageBody {
                width: 100%;
                height: 80px;
                position: relative;
                margin-bottom: 4px;
                
                .fileImg {
                    width: 100%;
                    height: 100%;
                }

                .imgImg {
                    width: 100%;
                    padding: 10px;
                }

                .unknownImg {
                    width: 100%;
                    height: 100%;
                    padding: 8px;
                    box-sizing: border-box;
                }

                .VideoImg {
                    width: 100%;
                }

                .PauseIcon {
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    top: 34%;
                    left: 35%;
                    z-index: 6;
                    transform:scale(1);
                    transition: transform 0.4s ease-in-out;
                }

                .PauseIcon:hover {
                    transform: scale(1.2);
                }
            }

            .fileImageText {
                width: 100%;
                height: 24px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* 限制文本行数为2行 */
                -webkit-box-orient: vertical;
                overflow: hidden;
                /* 隐藏超出部分 */
                text-overflow: ellipsis;
                /* 这在这种情况下不起作用，但可以保留以支持单行截断的情况 */
                white-space: normal;
                /* 允许文本自然换行 */
                word-wrap: break-word;
                /* 防止内容溢出，单词内换行 */
                line-height: 12px;
                font-size: 12px;
                text-align: center;
                color: #707070;
                font-weight: 600;
            }
        }
    }
}

.image-container {
    overflow: hidden;
    display: flex;
    background: #f8f8f8;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */

    img {
        height: 100%;
        width: auto;
        object-fit: cover;
        border-radius: 5px;
        /* 等比例缩放图片以填充整个容器 */
    }
}

#fileId {
    .MusicOpen {
        .ant-modal-content {
            background: rgba($color: #fff, $alpha: 0);
            box-shadow: 0 0 0 rgba($color: #ffffff, $alpha: 0)
        }
    }
}