.douyinbody{
    width: 100%;
    min-height: 300px;
    padding-top: 20px;
    box-sizing: border-box;

    .leftbtn{
        margin-bottom: 30px;
    }

    .tiny{
        margin: 0 10px 30px 0;
    }
}